{% extends 'base.html.twig' %}

{% block title  'Find all the best surccusale '%}
  
{% block body %}
  <h1 class="titleShow">{{ identit.nom }} - Succursale {{ nom }}</h1>

  <p class="back">

          <br>
          <a href="{{ path('app_succursale') }}" class="backToList">
             Liste des Departements
          </a>
       </p>
  <table class="table table-borderless table-striped table-bordered">
            <tbody class="table table-borderless table-striped table-bordered">
              <tr>
                  <th>
                    ID
                  </th>
                  <td>
                    {{id}}
                  </td>
              </tr>

              <tr>
                  <th>
                    Nom
                  </th>
                  <td>
                    {{ nom }}
                  </td>
              </tr>

              <tr>
                  <th>
                    Nombre d'Employer
                  </th>
                  <td>
                    {{ nbrempl}}
                  </td>
              </tr>

              <tr>
                  <th>
                    Quartier
                  </th>
                  <td>
                    {{ quartier }}
                  </td>
              </tr>
              
              <tr>
                  <th>
                    Arrondissement
                  </th>
                  <td>
                    {{arron }}
                  </td>
              </tr>
              
              <tr>
                  <th>
                    Ville
                  </th>
                  <td>
                    {{ ville}}
                   </td>
              </tr>

              
            </tbody>
        </table>

       <div class="btn-group btn-block">
            <button class="btn btn-outline-primary">
                 <a href="{{ path('app_succursale_edit', {'id': id}) }}" class="styleButtonModifier">
                     Modifier
                 </a>
            </button>
        
                <form method="post" action="{{ path('app_succursale_delete', {'id': id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
                    <button class="btn btn-outline-danger buttonNote btn-lg">
                      Supprimer
                    </button>
                </form>
                <a href="{{ path('app_departementdesentite_create', {'id_succursale' :id})}}" class="btn btn-outline-primary buttonNote btn-lg">
                     Enregistrer Département
                 </a>

       </div>

       
          </tbody>
      </table>
       </div>

       <div class="btn-group btn-block">
            
            <table class="table table-borderless table-striped fl-table table-bordered fl-table">
              <thead class="table-primary">
              <thead class="table-primary">
            <tr class="bg-info">
                {# <th>Id</th> #}
                <th>Nom deu departement </th>
                <th>Nombre d'employer' </th>
                {#<th>Nom du chef de departement</th>#}
                <th>Succursale</th>
            </tr>
        </thead>
        <tbody >
        {% for d in departements %}
            <tr>
                {# <td>{{ succursale.id }}</td> #}
                <td>{{ d.libelle }}</td>
                <td>{{ d.NbreEmployer}}</td>
                {#<td>{{ d.chefdep }}</td>#}
                <td>{{ d.succursale }}</td>
                <td>
                            <a href="{{ path('app_succursale_show', {'id': s.id}) }}" class="btn-group btn-block btn btn-outline-primary btn btn-success"> Voir </a>               
                </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="3">Aucun enregistrement trouvé</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
       </div>
                      
    
{% endblock %}
