{% extends 'base.html.twig' %}

{% block title  'Find all the best entite '%}
  
{% block body %}
  <h1 class="titleShow">{{ identit.nom }} - Succursale {{ identitsuccnom }} Departement  {{ nom }}</h1>

   <p class="back">

          <br>
          <a href="{{ path('app_departementdesentite') }}" class="backToList">
             Liste des Departement des entreprises
          </a>
       </p>

  <table class="table table-borderless table-striped table-bordered">
            <tbody class="table table-borderless table-striped table-bordered">
              <tr>
                  <th>
                    Nom du departement
                  </th>
                  <td>
                    {{libelle}}
                  </td>
              </tr>

              <tr>
                  <th>
                  Nombre d'employer
                  </th>
                  <td>
                    {{ nbre_employer }}
                  </td>
              </tr>


              <tr>
                  <th>
                    Succursale
                  </th>
                  <td>
                    {{ succ}}
                  </td>
              </tr>


              <tr>
                  <th>
                    Nom du chef de departement
                  </th>
                  <td>
                    {{ chfdep }}
                  </td>
              </tr>

            </tbody>
        </table>

       <div class="btn-group btn-block">
            <button class="btn btn-outline-primary">
                 <a href="{{ path('app_departementdesentite_edit', {'id': id}) }}" class="styleButtonModifier">
                     Modifier
                 </a>
            </button>
        
                <form method="post" action="{{ path('app_departementdesentitedelete', {'id': id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hissdden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
                    <button class="btn btn-outline-danger buttonNote btn-lg">
                      Supprimer
                    </button>
                </form>

       </div>
                  
                   </form>
                <a href="{{ path('app_employer_create', {'id_departement' :id})}}" class="btn btn-outline-primary buttonNote btn-lg">
                     Enregistrer employer
                 </a>

       </div>

       
          </tbody>
      </table>
       </div>

       <div class="btn-group btn-block">
            
            <table class="table table-borderless table-striped fl-table table-bordered fl-table">
              <thead class="table-primary">
              <tr class="bg-info">
                  {# <th>Id</th> #}
                   <th>Matricule ou numero de declaration </th>
                   <th>Nom </th>
                   <th>Prenom </th>
                   <th>E-mail </th>
                   <th>Telephone</th>
                   <th>Arrondissement</th>
                   <th>Quartier</th>
                   <th>Ville </th>
                   <th>Adresse </th>
                   <th>E-mail </th>
                   <th>Poste</th>
                   <th>Postulant Election Syndical</th>
                   <th>Departement dans entite</th>
              </tr>
          </thead>
          <tbody >

          {% for e in employers %}
            <tr>
                {# <td>{{ employer.id }}</td> #}
                <td>{{ e.identifiant }}</td>
                <td>{{ e.nom }}</td>
                <td>{{ e.prenom }}</td>
                <td>{{ e.email }}</td>
                <td>{{ e.tel}}</td>
                <td>{{ e.arrondissement}}</td>
                <td>{{ e.quartier}}</td>
                <td>{{ e.ville}}</td>
                <td>{{ e.adresse }}</td>
                <td>{{ e.date_de_naissance }}</td>
                <td>{{ e.poste}}</td>
                <td>{{ e.postulant}}</td>
                <td>{{ e.departement_des_entite}}</td>
                <<td>  
                            <a href="{{ path('app_employer_show', {'id': e.id}) }}" class="btn-group btn-block btn btn-outline-primary btn btn-success"> Voir </a>               
                </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="3">Aucun enregistrement trouvé</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
       </div>
                         
{% endblock %}
